body{
  background-color: black;
}

.text {
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
    font-family: "Indie Flower", cursive;
    color: hsl(0, 100%, 50%);
  }
.image{
  width: 200px;
  height:200px;
}
#image{
  text-align: center;
}
#audio{
  display: block;
}
